@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

/*homepage*/
#logo, #developers, #references, #enter, #ultimate, #homepageh1 {
  position: absolute;
  z-index: 1;
  color: cornflowerblue;
  font-family: 'Waiting for the Sunrise', sans-serif;
}

#homepageh1 {
  font-weight: strong;
  font-size: 310%;
  margin-top: 20%;
}

#ultimate{
  font-family: 'Waiting for the Sunrise', sans-serif;
  text-align: center;
  font-size: 115%;
  margin-top: 26%;
}

#enter{
  margin-top: 40%;
  font-size: 150%;
  font-weight: strong;
}

#developers{
  margin-left: 6%;
}

#logo{
  margin-left: 44%;
}

#references{
  margin-left: 88%;
}

/*carousel*/
.block{
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: -1;
  margin-top: -1.5%;
}

.developer_names {
  text-align: center;
}

#developers_info{
  -webkit-column-count: 3;
  column-count: 3;
}

.column {
  display: inline-block;
}

.carousel .item img {
     width: 100%;
}

 @media (max-width: 767px) {
     .block {
         margin-left: -20px;
         margin-right: -20px;
    }
}

<<<<<<< HEAD
#reference_header {
  margin-top: 50px;
}

div#APIreferences {
  -webkit-column-count: 2;
  column-count: 2;
  margin-left: 200px;
}

div#cssiteam {
  -webkit-column-count: 5;
  column-count: 5;
=======
/*the question pages*/
#questionpagebackground {
  background-image: url("NYCblue.png");
}

/*developer's page*/
#developers_header {
  font-family: 'Waiting for the Sunrise', sans-serif;
  margin-top: 50px;
}

.developers_page {
  font-family: 'Waiting for the Sunrise', sans-serif;
  display: inline-block;
}
#developers_info{
  -webkit-column-count: 3;
  column-count: 3;
}

/*reference page*/
#cssiteam {
>>>>>>> e261e05b2d7313ecda4179cd5ef2462109344ac4
  font-family: 'Waiting for the Sunrise', sans-serif;
}

.refpagewords {
  font-family: 'Waiting for the Sunrise', sans-serif;
  text-align: center;
 }
