@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

/*homepage*/

#logo, #references, #enter, #ultimate, #homepageh1 {
  position: absolute;
  z-index: 1;
  color: cornflowerblue;
  font-family: 'Waiting for the Sunrise', sans-serif;
}

#homepageh1, #ultimate, #enter {
  width: 100%;
  display: block;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#homepageh1 {
  font-weight: strong;
  font-size: 310%;
  margin-top: 20%;
}

#ultimate{
  font-family: 'Waiting for the Sunrise', sans-serif;
  text-align: center;
  font-size: 170%;
  margin-top: 26%;
}

#enter{
  margin-top: 40%;
  font-size: 150%;
  font-weight: strong;
  font-size: 175%;
}

#logo{
  margin-left: 44%;
  margin-top: 2%;
  font-size: 150%;
}

#references{
  margin-left: 88%;
  margin-top: 2%;
  font-size: 150%;
}

/*carousel*/
.block{
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: -1;
  margin-top: -1.5%;
}

.carousel .item img {
     width: 100%;
}

 @media (max-width: 767px) {
     .block {
         margin-left: -20px;
         margin-right: -20px;
    }
}

#image1, #image2, #image3 {
  opacity: 1;
}
/*the question pages*/
.blurb{
  font-family: 'Waiting for the Sunrise', sans-serif;
  text-align: center;
  font-size: 150%;
}

/*developer info on homepage*/
.developers_page {
  font-family: 'Waiting for the Sunrise', sans-serif;
  display: inline-block;
}

#developers_header {
  font-family: 'Waiting for the Sunrise', sans-serif;
  margin-top: 5%;
  text-align: center;
}

.developer_names {
  text-align: center;
  color: cornflowerblue;
  font-family: 'Waiting for the Sunrise', sans-serif;
}

#developers_info{
  -webkit-column-count: 3;
  column-count: 3;
}

.column {
  display: inline-block;
  margin-left: 5%;
}

div.image_container {
  height: 315px;
  text-align: center;
}

div.developer_paragraphs {
  margin-left: 5%;
  font-size: 120%;
}

.column {
  width: 100%;
}

/*reference page*/
#reference_page_logo {
  font-family: 'Waiting for the Sunrise', sans-serif;
  margin-left: 46%;
  font-size: 120%;
}

#reference_header {
  margin-top: 50px;
  font-family: 'Waiting for the Sunrise', sans-serif;
  text-align: center;
  font-weight: bold;
}

div#APIreferences {
  -webkit-column-count: 2;
  column-count: 2;
  margin-left: 200px;
}

div#cssiteam {
  -webkit-column-count: 5;
  column-count: 5;
  font-family: 'Waiting for the Sunrise', sans-serif;
}

.refpagewords {
  font-family: 'Waiting for the Sunrise', sans-serif;
  text-align: center;
 }
